body {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  background-color: #f0f0f0;
  padding: 10px;
}

.barra-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.barra-superior .esquerda,
.barra-superior .centro,
.barra-superior .direita {
  display: flex;
  align-items: center;
}

.btn-acao {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.btn-acao img {
  width: 32px;
  height: 32px;
  margin-bottom: 5px;
}

.campo-texto {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.secao-principal {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

.area-visualizacao {
  display: flex;
  width: 100%;
}

.miniatura-video {
  width: 30%; /* Ajuste conforme necessário */
  background-color: #ccc;
  padding: 10px;
  min-height: 350px; /* Reduzindo a altura mínima */
}

.texto-escrito-midia {
  margin-top: 10px;
  text-align: center;
}

.texto-escrito-midia video {
  display: block;
  max-width: 100%;
  max-height: 200px; /* Reduzindo a altura máxima do vídeo */
  margin: 10px 0;
}

.informacoes-video {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.legendaPrincipal {
  font-weight: bold;
}

.visualizacao-audio {
  margin-top: 20px;
  text-align: center;
}

.visualizacao-audio .legenda {
  display: inline-block;
  margin-bottom: 5px;
}

.visualizacao-audio audio {
  max-width: 200px;
  display: block;
  margin-top: 10px;
}

.container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 0;
}

.video {
  max-width: 600px; /* Define a largura máxima do contêiner de vídeo */
  height: auto; /* Altura automática para manter a proporção */
  aspect-ratio: 16 / 9; /* Mantém a proporção do vídeo */
  margin-right: 0; /* Alinha o vídeo à direita */
  display: flex;
  flex-direction: column;
}

.video video {
  width: 100%;
  height: auto; /* Garante que o vídeo se ajuste à largura do contêiner */
  max-height: 100%; /* Impede que o vídeo cresça além da altura do contêiner */
  object-fit: contain; /* Ajusta o vídeo dentro do contêiner sem distorção */
  display: block;
}

.controles {
  display: flex;
  align-items: center;
  background-color: #616161;
  justify-content: space-between;
  height: 40px; /* Ajuste a altura dos controles conforme necessário */
  padding: 5px; /* Adicione um padding para mais espaçamento */
}

.left-controls {
  display: flex;
  align-items: center; /* Alinha os ícones verticalmente */
}

.center-controls {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.controles button {
  background: none;
  border: none;
  cursor: pointer;
}

.controles img {
  width: 30px;
  height: auto;
  display: block; /* Garante que os ícones sejam renderizados */
  padding: 5px; /* Adiciona um pouco de padding para os ícones */
  border-radius: 5px; /* Bordas arredondadas */
}

.bx-play {
  font-size: 40px; /* Aumenta o tamanho do ícone, ajuste conforme necessário */
}


.controles progress {
  width: 100%;
  margin-left: 10px;
}

.rodape {
  font-size: 14px;
  color: #f316b8;
}
